<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='template.css')}}">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center header">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Latest Mars News</h2>
        <hr>
        <h5 class="font-weight-bold">{{ mars_data.news_title }}</h5>
        <p>{{ mars_data.news_p }}</p>
      </div>
    </div>
    <div class="row mt-3">

      <div class="col-xs-12 col-sm-12 col-md-8">
        <h2 class="mt-5">Featured Mars Image</h2>
        <hr>
        <img class="img-fluid" src={{ mars_data.featured_image_url }} style="width: 100%;" />
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="card mt-5" style="width: 100%;">
          <div class="card-body">
            <h6 class="card-title font-weight-bold">Current Weather on Mars</h6>
            <hr>
            <p class="card-text">{{ mars_data.mars_weather }} </p>
          </div>
        </div>
        <h2 class="mt-5 text-center">Mars Facts</h2>
        <hr>
        {{ mars_data.html_table|safe }}
      </div>
      
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center mt-5">Mars Hemispheres</h2>
        <hr>
      </div>     
      {% for hemisphere in mars_data.hemisphere_image_urls %}
        <div class="col-xs-12 col-md-6 d-flex justify-content-center">
          <div class="card mt-5" style="width: 35rem;">
            <img src={{ hemisphere.img_url }} class="card-img-top rounded mx-auto d-block img-fluid" alt="...">
            <div class="card-body">
              <p class="card-text font-weight-bold">{{ hemisphere.title }}</p>
            </div>
          </div>
        </div>
      {% endfor %}     
    </div>
  </div>

  <script>
      let tableElement = document.getElementsByClassName("dataframe");
      tableElement[0].classList.add("table-dark", "table-striped", "table-bordered", "table-hover");
  </script>
</body>

</html>